#include <winver.h>

#pragma code_page(65001)

#ifdef GLINT_HAS_ICON
1 ICON "glint.ico"
#endif

1 24 "glint.manifest"

VS_VERSION_INFO VERSIONINFO
FILEVERSION GLINT_VERSION_MAJOR, GLINT_VERSION_MINOR, GLINT_VERSION_PATCH, 0
PRODUCTVERSION GLINT_VERSION_MAJOR, GLINT_VERSION_MINOR, GLINT_VERSION_PATCH, 0
FILEFLAGSMASK VS_FFI_FILEFLAGSMASK
FILEFLAGS 0
FILEOS VOS_NT_WINDOWS32
FILETYPE VFT_APP
FILESUBTYPE VFT2_UNKNOWN
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904B0"
        BEGIN
            VALUE "CompanyName", "Glint"
            VALUE "FileDescription", "Glint"
            VALUE "FileVersion", GLINT_VERSION_STRING
            VALUE "InternalName", "glint"
            VALUE "LegalCopyright", "MIT License"
            VALUE "OriginalFilename", "glint.exe"
            VALUE "ProductName", "Glint"
            VALUE "ProductVersion", GLINT_VERSION_STRING
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0409, 1200
    END
END
